@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;900&display=swap');

:root {
    --preto: rgb(36, 36, 36);
    --passion: 'Passion One', 'Montserrat', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header { 
    background-color: var(--preto);
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--passion);
    font-weight: 400;
    font-size: 8vw;
    padding-top: 30px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

a:hover {
    color: var(--preto);
    background-color: white;
    border-radius: 2px;
}

section {
    font-style: italic;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 2vw;
}

section > p {
    padding-bottom: 2em;
    font-weight: 500;
}

section.normal {
    background-color: white;
    color: var(--preto);
}

section.imagem {
    background-color: var(--preto);
    color: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.250);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.103);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;

}

footer { 
    padding: 10px;
    background-color: var(--preto);
    color: white;
    text-align: center;
}